/* font-family import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* color variables */
:root {
    --purp: #361C74;
    --pank: #C065E9;
}

/* global declarations */
* {
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-bottom: 2vh;
}

/* buttons */
.btn {
    outline: none;
    background-color: var(--purp);
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
}

/* button hover highlight */
.btn:hover {
    background-color: var(--pank);
}

/* input box sizing fix */
input {
    padding: 1px 2px;
}

/* view high scores link */
#viewHighScores {
    color: var(--pank);
    cursor: pointer;
}

/* top section sizing */
#viewHighScores,
#timeText {
    font-size: 24px;
}

/* main section */
.jumbotron {
    background-color: white;
}

#welcome,
#quiz,
#inputScore,
#highScores {
    margin-top: 25%;
    width: 70%;
}

#quiz,
#inputScore,
#highScores {
    margin-top: 25%;
    display: none;
}