/* ------------------- */
/* font-family import */
/* ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

/* variables */
:root {
  --purp: #361C74;
  --pank: #C065E9;
}

/* -------------------- */
/* global declarations */
/* ------------------ */
* {
  /* global font */
  font-family: Roboto, sans-serif;
  /* border color - testing purposes */
  /* border: 1px solid red; */
  color: black;
  padding-bottom: 2vh;
}

body {
  background-color: solid white;
  overflow: hidden;
}

p {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: var(--pank);
  font-size: 1.3em;
}

button {
  outline: none;
  background-color: var(--purp);
  color: white;
  font-size: 1.3em;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: var(--pank);
}

h1,
h2 {
  text-align: center;
  margin-bottom: 1vh;
}

li {
  list-style: none;
}

/* ------------------------ */
/* outer container section */
/* ---------------------- */
.outer-div {
  padding: 10px;
  height: 99.6vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* ---------------------- */
/* top container section */
/* -------------------- */
/* .top-div {} */

.top-div p {
  float: right;
}

/* ------------------------ */
/* inner container section */
/* ---------------------- */
.inner-div {
  /* background: rgba(0, 0, 0, .4); */
  /* background: black; */
  height: 98%;
  width: 50%;
  margin: 20vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* --------------- */
/* header section */
/* ------------- */
.header-container {
  display: none;
  margin-bottom: 30vh;
  margin-left: 10%;
  margin-right: 10%;
  /* background-color: #3b3b3b; */
}

.header-container p {
  text-align: center;
}

.header-container button {
  display: block;
  margin: 0 auto;
}

/* --------------------- */
/* main content section */
/* ------------------- */
.main-container {
  display: block;
  margin-bottom: 30vh;
  margin-left: 10%;
  margin-right: 10%;
  /* background-color: #3b3b3b; */
}

/* ------------------------ */
/* question screen section */
/* ---------------------- */

.questions {
  display: block;
}

.quest-header {
  font-size: 3rem;
}

/* -------------------- */
/* quiz finish section */
/* ------------------ */
.finish {
  display: none;
}

/* ------------------ */
/* highscore section */
/* ---------------- */
.highscores {
  display: none;
}

.highscores ol {
  overflow-y: scroll;
  max-height: 180px;
}